target/
.idea/
test-order-details/
test-results/
img/
perfectoReports/
.git/
*.log
*.class
*.setting
*.DS_store
*.classpath
.settings/
/logs/
/dashboard/
*.pdf
/bin
*.project
*.png
test-output/
build/
.DS_Store
*.iml
.idea/
output.txt
