<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
	<test name="LocalAppium" enabled="true">
		<classes>
			<class name="com.perfecto.sampleproject.LocalAppium" />
		</classes>
	</test> <!-- Test -->
	<test name="LocalSelenium" enabled="true">
		<classes>
			<class name="com.perfecto.sampleproject.LocalSelenium" />
		</classes>
	</test> <!-- Test -->
	<test name="PerfectoAppium" enabled="true">
		<classes>
			<class name="com.perfecto.sampleproject.PerfectoAppium" />
		</classes>
	</test> <!-- Test -->
	<test name="PerfectoSelenium" enabled="true">
		<classes>
			<class name="com.perfecto.sampleproject.PerfectoSelenium" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->